@using Xfrog.Net
@model JsonObject

@{
    ViewBag.Title = "主页";
}

<div class="jumbotron">
    <h1>2017软件技术2班</h1>
    <p class="lead">你好呀！</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
<h3>@(Model["result"].Object["today"].Object["city"].Value)</h3>
<ul>
    <li>温度:@(Model["result"].Object["today"].Object["temperature"].Value)</li>
    <li>天气:@(Model["result"].Object["today"].Object["weather"].Value)</li>
    <li></li>
    <li></li>
    <li>风向:@(Model["result"].Object["today"].Object["wind"].Value)</li>
    <li>穿衣指数:@(Model["result"].Object["today"].Object["dressing_advice"].Value)</li>

</ul>